html { 
  background: url(../images/letters.png) no-repeat center center fixed,url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: contain,cover;
  -moz-background-size: contain,cover;
  -o-background-size: contain,cover;
  background-size: contain,cover;
}
